<aside class="main-sidebar">
<section class="sidebar">
<ul class="sidebar-menu">
	<li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
	<!-- <li><a href="/case"><i class="fa fa-files-o"></i><span>Recursos</span></a></li>
	<li><a href="/case?estadocolmena=ingresado"><i class="fa fa-circle-o text-purple"></i>Ingresados</a></li>
	<li><a href="/case?estadocolmena=notificado"><i class="fa fa-circle-o text-blue"></i>Notificados</a></li>
	<li><a href="/case?estadocolmenasituacion=aceptado"><i class="fa fa-circle-o text-green"></i>Aceptados</a></li>
	<li><a href="/case?estadocolmenasituacion=aceptadoobs"><i class="fa fa-circle-o text-yellow"></i>Aceptados con obs.</a</li>
	<li><a href="/case?estadocolmenasituacion=rechazado"><i class="fa fa-circle-o text-red"></i>Rechazado</a></li>
	<li><a href="/case?estadocolmena=enviadoexterno"><i class="fa fa-circle-o text-aqua"></i>Enviados a externos</a></li>
	<li><a href="/case?estadocolmenasituacion=traspasadooni"><i class="fa fa-circle-o" style="color:#30bbbb !important;"></i>Traspasado a ONI</a></li> -->
</ul>
</section>
</aside>