		<header class="main-header">
			<a href="/" class="logo">
				<span class="logo-mini"><b>A</b></span>
				<span class="logo-lg"><b>AUTOCARGO</b> Reporte</span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<strong><%= current_user.email %></strong>
							</a>
							<ul class="dropdown-menu">
								<li class="user-body">
									<div class="col-xs-8 text-center">
										<a class="navbar-link" href="/users/edit">Editar perfil</a>
									</div>
									<div class="col-xs-4 text-center">
										<a class="navbar-link" rel="nofollow" data-method="delete" href="/users/sign_out">Salir</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>